.main {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 50px
}

.main_404 {
    background-color: none;
}

.main_page {
    background-color: #F2EBF9;
}

.text {
    display: flex;
    gap: 5px
}

@media screen and (max-width: 910px) {
    .main {
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100px;
        flex-wrap: wrap;
        flex-direction: row;
    }   
}
