.main {
    display: flex;
    position: relative;
}

.main_small {
    width: 482px;
}

.main_big {
    width: 800px;
}


.container {
    display: flex;
    gap: 20px;
    align-items: start;
    margin: 20px;
}

.container_big {
    width: 780px;
    margin: 20px;
}

.container_small {
    width: 432px;
    margin: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.info_big {
    margin-left: 30px;
    width: 400px;
    gap: 90px
}

.info_small {
    width: 280px;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.link {
    text-decoration: none;
}

.point {
    flex-wrap: nowrap;
    gap: 8px;
    width: 320px;
}

.genres {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}