.main {
    display: flex;
    position: relative;
}

.main_small {
    width: 482px;
}

.main_big {
    width: 800px;
}

.container {
    display: flex;
    gap: 20px;
    align-items: start;
    margin: 20px;
}

.container_big {
    max-width: 780px;
    margin: 20px;
}

.container_small {
    max-width: 432px;
    margin: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.info_big {
    margin-left: 30px;
    width: 400px;
    gap: 90px
}

.info_small {
    max-width: 280px;
}

.info__main {
    display: flex;
}

.image_big {
    width: 250px;
    height: 350px
}

.image_small {
    width: 120px;
    height: 170px
}

.rating {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    box-sizing: border-box;
    width: 100%
}

.link {
    text-decoration: none;
}

.point {
    flex-wrap: nowrap;
    gap: 8px;
    max-width: 320px;
}

.genres {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal {
    display: flex;
    gap: 5px
}


@media screen and (max-width: 1200px) {
    .info_big {
        flex-direction: column;
        max-width: 400px;
    }

    .main_big {
        max-width: 700px;
    }

}

@media screen and (max-width: 1080px) {

    .main_big {
        max-width: 600px;
    }

    .rating {
        right: 5px;
        top: 20px;
        gap: 1px;
    }

    .info_big {
        margin-left: 0;
        max-width: 300px;
    }
}

@media screen and (max-width: 620px) {

    .image_big {
        width: 300px;
        height: 450px;
        background-size: contain;
    }    

    .image_small {
        width: 200px;
        height: 280px;
        background-size: contain;
    }  

    .main_big {
        max-width: 350px;
    }

    .main_small {
        align-items: center;
        max-width: 250px;
    }

    .container_small {
        max-width: 200px;
        flex-direction: column;
        margin: 20px;
    }

    .container_big {
        max-width: 300px;
        flex-direction: column;
        align-items: space-between;
        margin: 20px;
    }

    .info_big {
        flex-direction: column;
        max-width: 250px;
        gap: 10px
    }

    .info_small {
        flex-direction: column;
        margin-left: 0;
        max-width: 150px;
    }

    .point {
        flex-wrap: wrap;
        gap: 8px;
        max-width: 200px;
    }
}

/* @media screen and (max-width: 580px) {
    .main_big {
        height: 100px
    }
    
    .point {
        flex-wrap: wrap;
        gap: 8px;
        max-width: 170px;
    }
} */