.panel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px
}

@media screen and (max-width: 1225px) {
    .panel {
        justify-content: start;
        align-items: start;
    }
}