.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    max-width: 656px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image {
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
}