.main {
    display: flex;
    max-width: 980px;
    height: 100%;
    flex-direction: column;
    align-items: start;
    gap: 40px
}

@media screen and (max-width: 900px) {
    .main {
        align-items: center;
    }
}