.main {
    width: 490px;
    position: relative;
}

.input {
    width: 100%;
}

.button {
    position: absolute;
    top: 22px;
    right: 10px
}

@media screen and (max-width: 920px) {
    .main {
        width: 300px;
        position: relative;
    }
}